@font-face {
    font-family: 'roboto-thin';
    src: url('./public/font/roboto/Roboto-Light.ttf');
}

@font-face {
    font-family: 'roboto-thintwo';
    src: url('./public/font/roboto/Roboto-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
}

.container {
    font-family: 'roboto-thin';
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container .login {
    width: 500px;
    height: 400px;
    background: linear-gradient(to top, #3D2FA5, #4835C0, #5039D4, #5B3EEF);
    border-radius: 50px;
    color: aliceblue;
    text-align: center;
    box-shadow: 0px 4px 15px 0px rgb(60, 60, 60);
}

.login .login-sixdevs {
    font-size: 30px;
    margin-top: 25px;
}

.login .login-info,
.login-access,
.button-enter {
    display: flex;
    margin-left: 70px;

}

.login-info .login-user {
    margin-top: 40px;
}

.login-info .login-password {
    margin-top: 20px;

}

.login .login-access .user {
    margin-top: 5px;
    width: 350px;
    height: 45px;
    border-radius: 8px;
    border: #583DE9;
    box-shadow: 0px 4px 15px 0px rgb(60, 60, 60);
}

.login .login-access .password {
    margin-top: 5px;
    width: 350px;
    height: 45px;
    border-radius: 8px;
    border: #583DE9;
    box-shadow: 0px 4px 15px 0px rgb(60, 60, 60);
}

.buttons {
    display: flex;
}

.login .change-password {
    margin-left: 205px;
    font-size: 15px;
    margin-top: 3px;
}

.login .button-enter button {
    margin-top: 20px;
    width: 120px;
    height: 37px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: #583DE9;
    box-shadow: 0px 4px 15px 0px rgb(60, 60, 60);
}

.login .register-button button {
    margin-top: 20px;
    width: 150px;
    height: 37px;
    border-radius: 8px;
    margin-left: 82px;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: #583DE9;
    box-shadow: 0px 4px 15px 0px rgb(60, 60, 60);
}

.return {
    /* margin-right: 200px; */
    display: flex;
    margin-top: 0px;
    margin-left: 20px;
    width: 45px;
    height: 45px;
    position: absolute;
}

.register {
    font-family: 'roboto-thin';
    width: 600px;
    height: 470px;
    background: linear-gradient(to top, #3D2FA5, #4835C0, #5039D4, #5B3EEF);
    border-radius: 50px;
    color: aliceblue;
    box-shadow: 0px 4px 15px 0px rgb(60, 60, 60);
}

.register .register-sixdevs {
    font-size: 30px;
    margin-right: 220px;
    text-align: center;
}

.register .register-sixdevs p {
    margin-top: 30px;
}

.register .name {
    display: flex;
    text-align: left;
    margin-left: 30px;
}

.register .email,
.register .password {
    display: flex;
    text-align: left;
    margin-top: 25px;
    margin-left: 30px;
}

.surname,
.info-confirm-email {
    margin-left: 20px;
}

.info-surname,
.name-email,
.name-password {
    margin-left: 20px;
}

.select-name input {
    width: 210px;
    height: 37px;
    border-radius: 8px;
    border: #583DE9;
    box-shadow: 0px 4px 15px 0px rgb(60, 60, 60);
}

.surname input {
    width: 310px;
    height: 37px;
    border-radius: 8px;
    border: #583DE9;
    box-shadow: 0px 4px 15px 0px rgb(60, 60, 60);
}

.info-email input {
    width: 255px;
    height: 37px;
    border-radius: 8px;
    border: #583DE9;
    box-shadow: 0px 4px 15px 0px rgb(60, 60, 60);
}

.info-confirm-email input {
    width: 265px;
    height: 37px;
    border-radius: 8px;
    border: #583DE9;
    box-shadow: 0px 4px 15px 0px rgb(60, 60, 60);
}

.info-password input {
    width: 255px;
    height: 37px;
    border-radius: 8px;
    border: #583DE9;
    box-shadow: 0px 4px 15px 0px rgb(60, 60, 60);
}

.info-confirm-password input {
    width: 265px;
    height: 37px;
    border-radius: 8px;
    border: #583DE9;
    box-shadow: 0px 4px 15px 0px rgb(60, 60, 60);
}

.button-register {
    display: flex;
    margin-left: 30px;
    margin-top: 50px;
    width: 160px;
    height: 37px;
    border: #583DE9;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 0px 4px 15px 0px rgb(60, 60, 60);
}

/* MENU */
.container-manager {
    height: 100vh;
    font-family: 'roboto-thintwo';
}

.manager {
    display: flex;
    width: 100%;
    height: 75px;
    background-color: #0094DD;
}

.options {
    display: flex;
    width: 100px;
}

.information {
    width: 250px;
    height: 100%;

    box-shadow: 2px 1px 1px rgb(193, 192, 192);
}

.container-manager .manager .options {
    width: 50%;
}

.manager .options .documents {
    display: flex;
    align-items: center;
    margin-left: 40px;
    color: white;
}

.manager .options .add-user,
.manager .options .info {
    display: flex;
    align-items: center;
    margin-left: 55px;
    color: white;
}

.profile {
    text-align: center;
    margin-top: 13px;
    font-size: 12px;
}

.profile-container {
    text-align: right;
    width: 50%;
    margin-right: 10px;
    color: white;
}


.info-profile {
    display: flex;
    justify-content: right;
}

.user-img {

    width: 30px;
    height: 30px;
}

.generate,
.signature {
    display: flex;
}

.generate img,
.signature img {
    margin-top: 25px;
    margin-left: 15px;
    width: 30px;
    height: 30px;
}

.generate p,
.signature p {
    margin-top: 36px;
    margin-left: 10px;
}

.information {
    display: flex;
    display: flex;
    width: 250px;
    height: 100vh;
}

.files {
    display: flex;
    margin: 0px;
}

.box {
    display: flex;
    width: 250px;
    height: 100vh;
    margin-left: 8px;
    box-shadow: -2px 1px 1px rgb(193, 192, 192);
}

.popup {
    background-color: black;
}

.container-popup {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.info-popup {
    width: 600px;
    height: 400px;
    background-color: white;
    border-radius: 25px;
}

.container-popup .info-popup .user .img {
    display: flex;
    justify-content: right;
    width: 100%;
    height: 30px;
}

.container-popup .info-popup .user .img .return {
    margin-right: 20px;
    margin-top: 20px;
    width: 30px;
    height: 30px;
}

.container-popup .info-popup .user .info .user-img {
    margin-left: 30px;
    width: 85px;
    height: 85px;
}

.container-popup .info-popup .user {
    margin-top: 0px;
    width: 600px;
    height: 133px;
    border-radius: 25px 25px 0px 0px;
    background-color: #0293DD;
}

.container-popup .info-popup .user .info {
    display: flex;
    margin-top: 20px;
    width: 100px;
    height: 30px;
    align-items: center;
}

.container-popup .info-popup .user .info .data {

    margin-left: 10px;

}

.container-popup .info-popup .user .info {
    color: white;
}

.container-popup .info-popup .user .info .name-user {
    font-size: 20px;
    font-family: 'roboto-thintwo';
}

.container-popup .info-popup .user .info .email {
    font-size: 14px;
    font-family: 'roboto-thin';
}

.container-popup .info-popup .user-info .img {
    display: flex;
    justify-content: right;
    width: 100%;
    height: 30px;
}

.container-popup .info-popup .user-info .img .edit {
    margin-right: 20px;
    margin-top: 17px;
    width: 30px;
    height: 30px;
}

.full-name {
    display: flex;
}

.container-popup .info-popup .user-info .name label,
.container-popup .info-popup .user-info .first-name label,
.container-popup .info-popup .user-info .surname label,
.container-popup .info-popup .user-info .email label {
    color: #0293DD;
    font-size: 14px;
    font-family: 'roboto-thintwo';
}

.container-popup .info-popup .user-info .name {
    margin-top: 12px;
    margin-left: 35px;
}

.container-popup .info-popup .user-info .first-name,
.container-popup .info-popup .user-info .surname,
.container-popup .info-popup .user-info .email {
    margin-top: 20px;
    margin-left: 35px;
}

.container-popup .info-popup .user-info .name p,
.container-popup .info-popup .user-info .first-name p,
.container-popup .info-popup .user-info .surname p,
.container-popup .info-popup .user-info .email p {
    font-size: 16px;
    font-family: 'roboto-thin';
}

.container-popup .info-popup .user-info .edit-password {
    display: flex;
    justify-content: right;
    align-items: end;
    width: 95%;
    height: 56px;
    color: #43AAE5;
    text-decoration: underline;
    
}

/* border: 1px solid red; */